html,
body {
  background-color: #003b3d;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  border-color: #ced4da !important;
  box-shadow: none !important;
}

.content {
  padding-top: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contentWrap {
  padding: 20px;
}

.curtainBlocked {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.jumbotron {
  margin: auto;
  padding-top: 25px;
  background-color: #fff;
  padding-bottom: 10px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
}

.info {
  display: block;
  text-align: center;
  margin: 0 0 40px;
}

.formGroup {
  margin-bottom: 10px;
  position: relative;
}

.inputText {
  padding: 8px 13px;
  min-height: 200px;
  max-height: 450px;
}

.inputText:focus {
  padding: 8px 13px;
  min-height: 200px;
  max-height: 450px;
}

.rangeInput {
  margin: 10px 10px 15px;
}

.button {
  margin: 0 5px 10px;
  outline: none;
}

button {
  outline: none;
  position: relative;
  z-index: 150;
}

.buttonGroup {
  text-align: center;
}

.textareaBlocked {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panelText {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 13px;
  z-index: 300;
  min-width: 300px;
  word-wrap: break-word;
  border: 1px solid #ced4da;
  overflow-x: auto;
  background-color: rgba(255, 255, 255, 1);
}

.currentWord {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: #fff;
  font-size: 1.3em;
  z-index: 350;
  background-color: #202833;
  padding: 2px 10px 8px;
  border-radius: 12px;
  display: inline-block;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.panelText span {
  display: inline-block;
}

.blink {
  cursor: pointer;
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 1s;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-duration: 1s;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
