.footer {
    padding: 5px 10px;
    background-color: #002b2c;
    opacity: .7;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.footer p {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e4e4e4;
    font-size: .7em;
    text-align: center;
}

.footer a {
    color: #e4e4e4;
}